body{
    background-color: darksalmon;
    font: 14pt times;
}
header{
    font-family: Helvetica;
    color:rgb(151, 214, 182);
    font-style: bolder;
    font-size: larger;
    text-align: center; /*em header e footer o text-align ja alinha todos os margins do elemento */
    position:relative;
    margin-bottom:30px;
}
section{
    background-color: mintcream;
    width:500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.501); /*atributos dessa tag: deslocamento lateralpx desloc verticalpx espalhamentopx e cor*/
    padding:20px;
    margin: auto; /*value auto centraliza horizontalmente o elemento dentro do container e ajusta igualmente as margens baseado no width*/ 
    text-align: left;
}
footer{font-family: Georgia;
    color:mintcream;
    font-style: italic;
    font-size: small;
    text-align: center;
    position:relative;
    margin-top: 20px;}