body{
    background-color: rgba(228, 210, 203, 0.33);
    font: 12pt times;
}
header{
    font-family: Helvetica;
    color:rgb(31, 160, 95);
    font-style: bolder;
    font-size: 18pt ;
    text-align: center; /*em header e footer o text-align ja alinha todos os margins do elemento */
    position:relative;
    margin-bottom:15px;
}
section{
    background-color: mintcream;
    width:500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.501); /*atributos dessa tag: deslocamento lateralpx desloc verticalpx espalhamentopx e cor*/
    padding:20px;
    margin: auto; /*value auto centraliza horizontalmente o elemento dentro do container e ajusta igualmente as margens baseado no width*/ 
    text-align: left;
}
footer{font-family: Georgia;
    color:rgb(7, 39, 23);
    font-style: italic;
    font-size: small;
    text-align: center;
    position:relative;
    margin-top: 20px;}
#btn{
    background-color: rgba(118, 208, 163, 0.563);
    width:80px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(107, 101, 101, 0.501); /*atributos dessa tag: deslocamento lateralpx desloc verticalpx espalhamentopx e cor*/
    padding:10px;
    position:relative;
    margin-left: 400px; /*value auto centraliza horizontalmente o elemento dentro do container e ajusta igualmente as margens baseado no width*/ 
    text-align: center;
}
#resPa{
    position:relative;
    margin-top: 5px;
    
}
#resPg{
    position:relative;
    margin-top: 5px;
    word-wrap: break-word;
}
input{
    position:relative;
    margin-bottom:8px;
}
h2{
    font-size:14;
}
